@model IEnumerable<WebAppCM.Models.HandBookOfCOType>
@{
    ViewBag.Title = "Справочник типов кадастровых обьектов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<body>
    <div>
        <h3>Справочник типов кадастровых обьектов</h3><hr />
        <table class="text-center table-bordered">
            <tr>
                <td style="width: 50px;"><p><b>№</b></p></td>
                <td style="width: 200px;"><p><b>Тип</b></p></td>
                <td style="width: 100px;"><p></p></td>
                <td style="width: 100px;"><p></p></td>
                <td style="width: 100px;"><p></p></td>
            </tr>
            @foreach (var m in Model)
            {
                <tr>
                    <td><p>@Html.DisplayFor(model => m.Id)</p></td>
                    <td><p>@Html.DisplayFor(model => m.tHCOname)</p></td>
                    <td><p><a href="/COType/typeCODetails/@m.Id">Детали</a></p></td>
                    <td><p><a href="/COType/COTypeEdit/@m.Id">Изменить</a></p></td>
                    <td><p><a href="/COType/COTypeDelete/@m.Id">Удалить</a></p></td>
                </tr>
            }
        </table>
        <br />
        <p><a href="/COType/COTypeCreate" class="btn btn-primary btn-lg">Создать новый тип кадастрового обьекта</a></p><br />
        <p><a href="/CO/ListCO" class="btn btn-primary btn-lg">&laquo; Вернуться к списку Кадастровыx обьектов</a></p>
    </div>
</body>
</html>