@{
    var Title = "О сайте";
    var Message = "Для чего нужны кадастровые работы?";
}
<h2>@Title</h2>
<h3>@Message</h3>

<p>
    Цель кадастровых работ - описание объекта недвижимости в качестве объекта права. Таким образом, выполняя
    кадастровые работы, мы создаем объекты недвижимости в качестве объекта гражданских прав.
</p>
<div class="jumbotron">
    <p class="lead">
        К основным сведениям об объекте недвижимости относятся характеристики объекта
        недвижимости, позволяющие определить такой объект недвижимости в качестве
        индивидуально-определенной вещи, а также характеристики, которые определяются и
        изменяются в результате образования земельных участков, уточнения местоположения
        границ земельных участков, строительства и реконструкции зданий, сооружений,
        помещений и машино-мест, перепланировки помещений. Федеральный закон №218-ФЗ
        от 13.07.2015г (в ред. Федерального закона от 03.07.2016 N 315-ФЗ)
    </p>
</div>
