@{
    var Title = "О сайте";
    var Message = "Чем мы занимаемся.";
}
<h2>@Title</h2>
<h3>@Message</h3>

<p>Данное кадастровое управление занимается организацией работы кадастрового управления, в том числе технической 
    инвентаризации (обмерные работы и изготовление технических планов с целью осуществления кадастрового учёта) в 
    отношении любых объектов недвижимости с предельной точностью, и подготовка соответствующей документации.</p>
