@{
    var Title = "Контакты";
    var Message = "Вы можете обратится к нам с вопросами по адресам почты представленным ниже";
}
<h2>@Title</h2>
<h3>@Message</h3>
<!--ViewBag.Message-->
<address>
    <br />
    Общий телефон: 
    <abbr title="Phone">8-800-010-55-66</abbr>
    
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:Support@gmail.com">Support@gmail.com</a><br />
    <strong>Маркетинг:</strong> <a href="mailto:Marketing@gmail.com">Marketing@gmail.com</a>
</address>